html { font-family: 'Inter', sans-serif; }
/* @supports (font-variation-settings: normal) { */
/*   html { font-family: 'Inter var', sans-serif; } */
/* } */

/* -------Links ---------- */
a[href*="//"]::after {
    font-weight: 300;
    font-size: .85em;
    opacity: .3;
    margin-left: 1px;
}
a[href*="//"]:hover:after { opacity: 1; }
a[href$=".pdf"]:before { content: "[PDF]"; }
a[href$=".txt"]:before { content: "[TXT]"; }
a[href$=".mp3"]:before { content: "[MP3]"; }
a[href$=".zip"]:before { content: "[ZIP]"; }
a[href$=".rar"]:before { content: "[RAR]"; }
a[href$=".jpeg"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before { content: "[IMG]"; }

/* add arrow icon to some links that need to be
   opened in a new tab */
.footpara a[href*="//"]::after,
a.ext[href*="//"]::after {
    content: "\2197";
}

/* Custom classes for base elements */
.link-intro {
    @apply inline-block text-primary-color-700 border-primary-color-700;
}
.link-intro:hover {
    @apply text-primary-color-500 border-primary-color-500;
}

.link-info, .org-ul a {
    @apply inline-block text-primary-color-700;
}

.link-info:hover, .org-ul a:hover {
    @apply text-primary-color-500;
}
