/* Tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 6rem;
  --header-scrolling-height: 2.6rem;
  --max-container-width: 880px;
}

html {
  @apply bg-nutty-light text-content-color-900;
}

@media (prefers-color-scheme: dark) {
  html {
    @apply bg-pflaume-dark text-content-color-darkmode-900;
  }
}

/* ------ Grids ---------- */
.bp-grid-2 {
  @apply grid grid-cols-1 gap-4 place-items-stretch;
  @apply md:grid-cols-2;
}

.bp-grid-3 {
  @apply grid grid-cols-1 gap-4 place-items-stretch md:grid-cols-3;
}

/* -------Links ---------- */
a[href*="//"]::after {
    font-weight: 300;
    font-size: .85em;
    opacity: .3;
    margin-left: 1px;
}
a[href*="//"]:hover:after { opacity: 1; }
a[href$=".pdf"]:before { content: "[PDF]"; }
a[href$=".txt"]:before { content: "[TXT]"; }
a[href$=".mp3"]:before { content: "[MP3]"; }
a[href$=".zip"]:before { content: "[ZIP]"; }
a[href$=".rar"]:before { content: "[RAR]"; }
a[href$=".jpeg"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before { content: "[IMG]"; }

/* add arrow icon to some links that need to be
   opened in a new tab */
.footpara a[href*="//"]::after,
a.ext[href*="//"]::after {
  content: "\2197";
}
/* add rightwards arrow on other links which point
   to pages within this site */
a.int::after {
  content: "\27A1";
}

/* Custom classes for base elements */
a, .org-ul a {
  @apply inline-block text-link-color-900;
}

a:hover, .org-ul a:hover {
  @apply text-link-color-700;
}

@media (prefers-color-scheme: dark) {
  a, .org-ul a {
    @apply text-link-color-darkmode-900;
  }

  a:hover, .org-ul a:hover {
    @apply text-link-color-darkmode-700;
  }
}
