/* Site reset */
*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  line-height: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

button {
  background: transparent;
}

img,
svg,
video,
iframe {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
  text-indent: 0;
}

[hidden] {
  display: none;
}

/* Tailwind styles */
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 6rem;
  --header-scrolling-height: 2.6rem;
  --max-container-width: 880px;
}

html {
  @apply bg-nutty-light text-content-color-900;
  color-scheme: light;
}

html[data-theme='dark'] {
  @apply text-content-color-darkmode-900;
  background-color: rgb(30, 30, 30);
  color-scheme: dark;
}

/* ------ Grids ---------- */
.bp-grid-2 {
  @apply grid grid-cols-1 gap-4 place-items-stretch;
  @apply md:grid-cols-2;
}

.bp-grid-3 {
  @apply grid grid-cols-1 gap-4 place-items-stretch md:grid-cols-3;
}

/* -------Links ---------- */
a[href*='//']::after {
  font-weight: 300;
  font-size: 0.85em;
  opacity: 0.3;
  margin-left: 1px;
}
a[href*='//']:hover:after {
  opacity: 1;
}
a[href$='.pdf']:before {
  content: '[PDF]';
}
a[href$='.txt']:before {
  content: '[TXT]';
}
a[href$='.mp3']:before {
  content: '[MP3]';
}
a[href$='.zip']:before {
  content: '[ZIP]';
}
a[href$='.rar']:before {
  content: '[RAR]';
}
a[href$='.jpeg']:before,
a[href$='.jpg']:before,
a[href$='.gif']:before,
a[href$='.png']:before {
  content: '[IMG]';
}

/* add arrow icon to some links that need to be
   opened in a new tab */
.footpara a[href*='//']::after,
a.ext[href*='//']::after {
  content: '\2197';
}
/* add rightwards arrow on other links which point
   to pages within this site */
a.int::after {
  content: '\27A1';
}

/* Custom classes for base elements */
a,
.org-ul a {
  @apply inline-block text-link-color-900;
}

a:hover,
.org-ul a:hover {
  @apply text-link-color-700;
}

html[data-theme='dark'] a,
html[data-theme='dark'] .org-ul a {
  @apply text-link-color-darkmode-900;
}

html[data-theme='dark'] a:hover,
html[data-theme='dark'] .org-ul a:hover {
  @apply text-link-color-darkmode-700;
}
