/* Button CSS */
#content button,
#content input[type="button"],
#content input[type="reset"],
#content input[type="submit"] {
  @apply bg-palette-amber-500 text-white border-palette-amber-900;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#content button:focus,
#content input[type="button"]:focus,
#content input[type="reset"]:focus,
#content input[type="submit"]:focus {
  color: #171e29;
}

#content button:active,
#content input[type="button"]:active,
#content input[type="reset"]:active,
#content input[type="submit"]:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}


#content button:hover,
#content input[type="button"]:hover,
#content input[type="reset"]:hover,
#content input[type="submit"]:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  #content button,
  #content input[type="button"],
  #content input[type="reset"],
  #content input[type="submit"] {
  }
}
