pre.example,
code,
.org-src-container {
    @apply mt-4 mb-4;
    font-size: small;
    display: block;
    background: #4a4a4a;
    color: #e8e8e8;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
}

pre.example {
    @apply p-4;
}

.org-src-container {
    @apply p-4;
}

code {
  display: inline;
  background: #A86464;
  color: inherit;
  @apply px-2 py-1;
}

@media (prefers-color-scheme: dark) {
  code, .org-src-container {
    background: #A86464;
    @apply text-primary-color-darkmode-900;
  }
}
