#footer {
  @apply py-10 mt-6 w-full;
  @apply text-info;
  @apply border-0 border-t border-solid border-t-palette-nutty-dark;
}

#footer .container {
  max-width: var(--max-container-width);
}

#footer .badge {
  max-width: 200px;
  margin-left: -2px;
}
