#header {
  height: var(--header-height);
  @apply sticky w-full top-0 z-50;
  @apply bg-nutty-light opacity-95;
  @apply border-0 border-solid border-b border-b-nutty-dark;
  @apply transition duration-300 ease-in-out;
}

@media (prefers-color-scheme: dark) {
  #header {
    @apply bg-pflaume-dark;
    @apply border-b-pflaume-darker;
  }
}

.scroll-down #header {
  @apply -translate-y-full transform-gpu;
}

.scroll-up #header {
  @apply transform-none;
}

@supports (backdrop-filter: blur()) {
  #header {
    @apply backdrop-blur;
  }
}

#nav {
  @apply flex flex-nowrap h-full items-center justify-between;
  max-width: var(--max-container-width);
}

#nav .menu-toggle {
  @apply hidden;
}

#nav label {
  @apply block lg:hidden cursor-pointer z-40;
}

#nav svg.menu-icon {
  @apply fill-current w-6 h-6;
}

#nav svg.menu-icon.menu-close {
  @apply hidden;
}

#nav .menu {
  @apply w-2/5 flex flex-col justify-start items-start overflow-hidden h-screen;
  @apply absolute top-0 right-0 pt-16 bg-nutty-light border-l border-solid border-l-nutty-dark;
  @apply transform translate-x-full transition-transform duration-300 ease-in-out;
  @apply lg:w-3/4 lg:flex lg:flex-row lg:items-center lg:justify-end lg:order-2 lg:overflow-visible lg:h-fit;
  @apply lg:relative lg:pt-0 lg:bg-inherit lg:bg-transparent lg:border-none;
  @apply lg:transform-none;
}

@media (prefers-color-scheme: dark) {
  #nav .menu {
    @apply bg-pflaume-dark lg:bg-transparent border-l-pflaume-darker lg:border-none;
  }
}

#nav a.nav-link {
  @apply block relative text-link-color-900 ml-6 mt-4 lg:mt-0;
}

#nav a.nav-link:hover,
#nav a.nav-link:focus {
  @apply text-link-color-700;
}

/* Show menu when checkbox is checked */
#nav #menu-checkbox:checked + label ~ .menu {
  @apply transform translate-x-0;
}

#nav #menu-checkbox:checked + label .menu-open {
  @apply hidden;
}

#nav #menu-checkbox:checked + label .menu-close {
  @apply block;
}

@media (prefers-color-scheme: dark) {
  #nav a.nav-link {
    @apply text-link-color-darkmode-900;
  }

  #nav a.nav-link:hover,
  #nav a.nav-link:focus {
    @apply text-link-color-darkmode-700;
  }
}

#nav a.nav-link::after {
  @apply absolute block left-0 -bottom-0.5 w-full h-[2px];
  @apply transition-transform ease-in-out duration-200;
  transform: scalex(0);
  background-color: currentColor;
  content: "";
}

#nav a.nav-link::before {
  content: "/";
  padding-right: 5px;
}


#nav a.nav-link:hover::after {
  transform: scalex(1);
}

.icon-rss {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("/static/images/rss-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}
