#logo {
  @apply block relative w-20 h-20 text-pflaume-dark;
}

html[data-theme="dark"] #logo {
  @apply text-link-color-darkmode-900;
}

#logo .logo-mark {
  @apply absolute z-10 inset-0 m-auto;
  width: 80%;
  height: 80%;
  fill: currentColor;
}

#logo .circle {
  @apply absolute inset-0 m-auto bg-slate-50;
}

#logo .circle-outer {
  @apply bg-transparent;
}

#logo #path-circle {
  @apply stroke-slate-50 fill-transparent;
}

#header.scrolling #logo {
  @apply w-8 h-8;
}

#logo .circle-inner {
  @apply w-[90%] h-[90%] rounded-full;
}
