html { font-family: 'Inter', sans-serif; }
/* @supports (font-variation-settings: normal) { */
/*   html { font-family: 'Inter var', sans-serif; } */
/* } */

/* -------Links ---------- */
a[href*="//"]::after {
    font-weight: 300;
    font-size: .85em;
    content: "\2197";
    opacity: .3;
    margin-left: 1px;
}

a[href*="//"]:hover:after {
    opacity: 1;
}

a[href$=".pdf"]:before { content: "PDF"; }
a[href$=".txt"]:before { content: "TXT"; }
a[href$=".mp3"]:before { content: "MP3"; }
a[href$=".zip"]:before { content: "ZIP"; }
a[href$=".rar"]:before { content: "RAR"; }
a[href$=".jpeg"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before { content: "IMG"; }


/* Custom classes for base elements */
.link-intro {
    @apply inline-block text-primary-700 border-primary-700;
    border-bottom: 1px solid;
}
.link-intro:hover {
    @apply text-primary-500 border-primary-500;
    border-bottom: 1px solid;
}

.link-info, .org-ul a {
    @apply inline-block text-primary-700;
}

.link-info:hover, .org-ul a:hover {
    @apply text-primary-500;
}
