pre.example,
.org-src-container {
    @apply mt-4 mb-4;
    font-size: small;
    display: block;
    background: #e5e5e5;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
}

pre.example {
    @apply p-4;
}

.org-src-container {
    @apply px-4;
}
